<a href="https://colab.research.google.com/github/ankitkumarhello20/sql-injection-dataset/blob/main/Overview_of_Colaboratory_Features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:

import numpy as n
import pandas as pd
import io
url = 'https://raw.githubusercontent.com/ankitkumarhello20/sql-injection-dataset/main/Modified_SQL_Dataset.csv'


df = pd.read_csv(url,encoding= 'unicode_escape')
df.head()

                                               Query  Label
0                  " or pg_sleep  (  __TIME__  )  --      1
1  create user name identified by pass123 tempora...      1
2   AND 1  =  utl_inaddr.get_host_address   (    ...      1
3   select * from users where id  =  '1' or @ @1 ...      1
4   select * from users where id  =  1 or 1#"  ( ...      1